<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="d-flex float-end m-2">
        <button (click)="openModal()" class="btn btn-primary btn-sm">
          New Employee
        </button>
      </div>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <td class="table-active">First Name</td>
      <td class="table-active">Last Name</td>
      <td class="table-active">Designation</td>
      <td class="table-active">Emp Id</td>
      <td class="table-active">Gender</td>
      <td class="table-active">Address</td>
      <td class="table-active">Office Email</td>
      <td class="table-active">Personal Email</td>
      <td class="table-active">Mobile</td>
      <td class="table-active">Skills</td>
      <td class="table-active">Actions</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees; index as i">
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.designation }}</td>
      <td>{{ employee.empId }}</td>
      <td>{{ employee.gender }}</td>
      <td>{{ employee.address }}</td>
      <td>{{ employee.emailOffice }}</td>
      <td>{{ employee.emailPersonal }}</td>
      <td>{{ employee.mobileNum }}</td>
      <td>{{ employee.skills }}</td>
      <td>
        <button (click)="deleteEmployee(i)"><i class="bi bi-trash"></i></button
        >&nbsp;
        <button (click)="editEmployee(i)"><i class="bi bi-pencil"></i></button>
      </td>
    </tr>
  </tbody>
</table>
<app-add-edit-employee #addeditemployee></app-add-edit-employee>
