<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="d-flex float-end m-2">
        <button (click)="openModal()" class="btn btn-primary btn-sm">
          New Employee
        </button>
      </div>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <td class="table-active">First Name</td>
      <td class="table-active">Last Name</td>
      <td class="table-active">Designation</td>
      <td class="table-active">Emp Id</td>
      <td class="table-active">Gender</td>
      <td class="table-active">Address</td>
      <td class="table-active">Office Email</td>
      <td class="table-active">Personal Email</td>
      <td class="table-active">Mobile</td>
      <td class="table-active">Skills</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First Name sample</td>
      <td>Last Name</td>
      <td>Developer</td>
      <td>123</td>
      <td>Female</td>
      <td>test ,gdhjg</td>
      <td>user1@test.com</td>
      <td>user1@gmail.com</td>
      <td>9496757563</td>
      <td>Java</td>
    </tr>
    <tr>
      <td>First Name sample</td>
      <td>Last Name</td>
      <td>Developer</td>
      <td>123</td>
      <td>Female</td>
      <td>test ,gdhjg</td>
      <td>user1@test.com</td>
      <td>user1@gmail.com</td>
      <td>9496757563</td>
      <td>Java</td>
    </tr>
    <tr>
      <td>First Name sample</td>
      <td>Last Name</td>
      <td>Developer</td>
      <td>123</td>
      <td>Female</td>
      <td>test ,gdhjg</td>
      <td>user1@test.com</td>
      <td>user1@gmail.com</td>
      <td>9496757563</td>
      <td>Java</td>
    </tr>
  </tbody>
</table>
<app-add-edit-employee #addeditemployee></app-add-edit-employee>
