<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="d-flex float-end m-2">
        <button (click)="openModal()" class="btn btn-primary btn-sm">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <td class="table-active">head1</td>
      <td class="table-active">head2</td>
      <td class="table-active">head3</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ro1</td>
      <td>ro12</td>
      <td>ro13</td>
    </tr>
    <tr>
      <td>ro145</td>
      <td>ro125</td>
      <td>ro135</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
<app-add-edit-goodies #add></app-add-edit-goodies> -->
<app-employees></app-employees>
